<section class="mainbar" data-ng-controller="searchsController as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                        <div id="search-container" class="row">
                            <div class="col-lg-3">
                                <!-- this form will trigger the getTweets function in the javascript controller on submit -->
                                <form class="input-group">
                                    <span class="input-group-addon">#</span>

                                    <!-- this text input is binded to a variable in the javascript controller -->
                                    <input type="text" class="form-control" placeholder="search hash tag" ng-model="vm.inputString" />

                                    <span class="input-group-btn">
                                        <button class="btn btn-default" name="searchHashTag" ng-click="vm.searchHashTag()">Get Tweets</button>
                                    </span>
                                </form>
                            </div>

                        </div>

                        <ul class="grid twitter" masonry="true">
                            <li ng-repeat="tweet in vm.tweets">
                                <span class="origin-flag"></span>
                                <div>
                                    <img ng-src="{{tweet.imageUrl}}" />
                                    <a title="Go to twitter page" class="user" href="http://twitter.com/{{tweet.user}}" target="_blank">{{tweet.user}}</a>
                                </div>
                                <div ng-repeat="media in tweet.medias">
                                    <img ng-src="{{media.mediaURLHttps}}" />
                                </div>
                                <div class="bg-info">
                                    <span>{{tweet.tweetText}}</span>
                                </div>
                                <span>Created: {{tweet.createdAt}}</span>
                            </li>
                        </ul>
                      
                        <!--<ul class="ul">
                            <li ng-repeat="tweet in vm.tweets">
                                <div>
                                    <img ng-src="{{tweet.imageUrl}}" />
                                    <a title="Go to twitter page" class="user" href="http://twitter.com/{{tweet.user}}" target="_blank">{{tweet.user}}</a>
                                </div>
                                <p class="bg-info">{{tweet.tweetText}}<p>
                                    <div>
                                        <span title="Created At" class="retweet">{{tweet.createdAt}}</span>
                                    </div>

                            </li>
                        </ul>-->
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
                    <div data-cc-spinner="vm.spinnerOptions"></div>
                    <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
                </div>
            </div>

            <div data-ng-show="vm.tweets.length">
                <pie-chart data="chartData" title="{{chartTitle}}" width="{{chartWidth}}" height="{{chartHeight}}" select="selectRow(selectedRowIndex)"></pie-chart>
            </div>


        </div>
      
    </section>
</section>

